<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <h2>회원가입</h2>
    <form th:action="">
        <div>
            <input type="text" name="memberId">
        </div>
        <div>
            <input type="text" name="memberPw">
        </div>
        <div>
            <input type="text" name="memberName">
        </div>
        <div>
            <input type="text" name="memberNick">
        </div>
        <div>
            <input type="text" name="memberAddress">
        </div>
        <div>
            <input type="text" name="memberBirth">
        </div>
        <div>
            <input type="text" name="memberAddress">
        </div>

        <input type="submit" value="가입하기">
    </form>
</body>
</html>